# AUTH DB
AUTH_DB_NAME=zip_auth_db
AUTH_DB_USER=zip_auth_user
AUTH_DB_PASSWORD=zip_auth_password
AUTH_DB_HOST=auth-db
AUTH_DB_PORT=5432

# REQUESTS DB
REQUESTS_DB_NAME=zip_requests_db
REQUESTS_DB_USER=zip_requests_user
REQUESTS_DB_PASSWORD=zip_requests_password
REQUESTS_DB_HOST=requests-db
REQUESTS_DB_PORT=5432

# INVENTORY DB
INVENTORY_DB_NAME=zip_inventory_db
INVENTORY_DB_USER=zip_inventory_user
INVENTORY_DB_PASSWORD=zip_inventory_password
INVENTORY_DB_HOST=inventory-db
INVENTORY_DB_PORT=5432

# DJANGO
DJANGO_SECRET_KEY=super-secret-key-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,gateway,auth-service,requests-service,inventory-service

# JWT / AUTH
ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=7

# FRONTEND
VITE_API_BASE_URL=http://localhost:8000/api