# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
.venv/
venv/
.env

# Django static/media
staticfiles/
media/

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/